# Ignorar archivos compilados de Java
*.class

# Ignorar paquetes generados
*.jar
*.war
*.ear

# Ignorar carpetas de compilación en cualquier proyecto
*/build/
*/dist/
*/out/

*.private/
*private/
private/

# Ignorar archivos de NetBeans
nbproject/private/
build/
dist/

# Ignorar archivos de Eclipse
.classpath
.project
.settings/

# Ignorar archivos de IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Ignorar logs y temporales
*.log
*.tmp

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
